.footer {
    background-color: $color-primary;
    min-height: 450px;
    padding-bottom: $wrap-padding-y * 4;
    padding-top: $wrap-padding-y * 4;
    @media only screen and (min-width: $sm) {
        padding-bottom: $wrap-padding-y;
        padding-top: $wrap-padding-y * 2;
    }
    .copyright {
        @include font-calc-rem(12px);
        color: $color-gray-2;
        .col-12 {
            @media only screen and (max-width: $sm) {
                text-align: center;
            }
        }
        .copyright-link {
            color: $color-white;
            @media only screen and (max-width: $sm) {
                margin-top: 15px;
            }
            @media only screen and (min-width: $md) {
                text-align: right;
            }
        }
    }
    .menu-bottom {
        @include font-calc-rem(12px);
        color: $color-gray-2;
        font-weight: 600;
        line-height: 2;
        margin-bottom: 65px;
        @media only screen and (max-width: $sm) {
            &::after {
                background-color: $color-white;
                bottom: -30px;
                content: ' ';
                display: block;
                height: 1px;
                left: 50%;
                opacity: 0.5;
                position: absolute;
                transform: translateX(-50%);
                width: 15px;
            }
        }
        .col {
            text-align: right;
            &:first-child {
                line-height: 2;
                text-align: left;
                @media only screen and (max-width: $sm) {
                    text-align: center;
                }
            }
            .footer-links {
                > li {
                    display: block;
                    height: 25px;
                    a {
                        @media only screen and (min-width: $lg) {
                            &:hover,
                            &.active {
                                &::after {
                                    width: 100%;
                                }
                            }
                            &::after {
                                background-color: $color-gray-2;
                                bottom: 2px;
                                content: ' ';
                                display: block;
                                height: 2px;
                                margin: auto;
                                position: absolute;
                                right: 0;
                                transition: width $transition;
                                width: 0%;
                            }
                        }
                    }
                }
            }
        }
    }
    .menu-top {
        @include font-calc-rem(14px);
        color: $color-white;
        font-family: $font-secondary;
        margin-bottom: 50px;
        text-transform: uppercase;
        @media only screen and (max-width: $sm) {
            &::after {
                background-color: $color-white;
                bottom: -15px;
                content: ' ';
                display: block;
                height: 1px;
                left: 50%;
                opacity: 0.5;
                position: absolute;
                transform: translateX(-50%);
                width: 15px;
            }
        }
        @media only screen and (min-width: $md) {
            border-bottom: 1px solid $color-gray-3;
            padding-bottom: 30px;
        }
        .col-12 {
            @media only screen and (max-width: $sm) {
                @include font-calc-rem(18px);
                letter-spacing: 5px;
                margin-bottom: 25px;
                text-align: center;
            }
            @media only screen and (min-width: $md) {
                text-align: right;
            }
            a {
                @media only screen and (min-width: $lg) {
                    &:hover,
                    &.active {
                        &::after {
                            width: 100%;
                        }
                    }
                    &::after {
                        background-color: $color-gray-2;
                        content: ' ';
                        display: block;
                        height: 3px;
                        margin: auto;
                        transition: width $transition;
                        width: 0%;
                    }
                }
            }
        }
        .social {
            @include font-calc-rem(12px);
            color: $color-gray-2;
            ul {
                > li {
                    margin-right: 3px;
                    &:first-child {
                        margin-right: 2vw;
                    }
                    &:hover {
                        svg {
                            opacity: 0.5;
                        }
                    }
                    svg {
                        cursor: pointer;
                        height: 18px;
                        opacity: 0.2;
                        vertical-align: text-bottom;
                        width: auto;
                    }
                }
            }
        }
    }
}
