.header {
    height: auto;
    left: 0;
    position: fixed;
    top: 0;
    transition: top $transition;
    width: 100%;
    &.active,
    &.scroll {
        .header-svg-logo {
            svg {
                fill: $color-black;
            }
        }
        .header-top {
            background-color: $color-white;
            @media only screen and (min-width: $lg) {
                height: 80px;
                padding-bottom: 10px;
            }
            .area-restrita {
                span {
                    color: $color-gray-2;
                }
            }
            .header-menu {
                opacity: 1;
            }
            .header-right {
                opacity: 1;
                .header-btn-menu {
                    .header-svg-close,
                    .header-svg-menu {
                        svg {
                            fill: $color-black;
                        }
                    }
                }
                .row {
                    .header-language {
                        span {
                            color: $color-gray-2;
                        }
                        svg {
                            fill: $color-gray-2;
                        }
                    }
                    .header-search {
                        svg {
                            fill: $color-gray-2;
                        }
                    }
                }
            }
        }
        .menu {
            color: $color-black;
            font-weight: 600;
        }
    }
    &.hide {
        top: -$header-height;
    }
    .header-menu-desktop {
        background-color: transparent;
        height: 0;
        opacity: 0;
        position: absolute;
        transition: background-color $transition, opacity $transition, height $transition;
        width: 100%;
        z-index: 1;
        &.active {
            background-color: $color-white;
            height: 200px;
            opacity: 1;
        }
        .col-6 {
            height: 120px;
            margin-bottom: 35px;
            .header-close {
                bottom: 0;
                left: 50%;
                position: absolute;
                transform: translateX(-50%);
                span {
                    @include font-calc-rem(12px);
                    font-weight: 600;
                    text-transform: uppercase;
                    vertical-align: middle;
                }
                svg {
                    fill: $color-gray-2;
                    height: 13px;
                }
            }
            .header-language,
            .header-search {
                @include animation($name: 'fadeout');
                height: auto;
                position: absolute;
                width: 100%;
                &.active {
                    animation-name: 'fadein';
                }
            }
            .header-language {
                .header-language-list {
                    .custom-radio {
                        display: inline-block;
                        margin: 0 3vw;
                        padding-bottom: 20px;
                        padding-top: 20px;
                        &:hover {
                            input[type='radio'] {
                                + label {
                                    &::after {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                        input[type='radio'] {
                            &:checked {
                                + label {
                                    &::after {
                                        width: 100%;
                                    }
                                }
                            }
                            + label {
                                @include font-calc-rem(18px);
                                cursor: pointer;
                                display: inline-block;
                                font-family: $font-primary;
                                pointer-events: none;
                                text-transform: uppercase;
                                width: auto;
                                &::after {
                                    background-color: $color-gray-2;
                                    bottom: 0;
                                    content: ' ';
                                    display: block;
                                    height: 2px;
                                    left: 50%;
                                    position: absolute;
                                    transform: translateX(-50%);
                                    transition: width $transition;
                                    width: 0;
                                }
                            }
                        }
                    }
                }
            }
            .header-search {
                .form {
                    button {
                        background-color: $color-gray-2;
                        height: 65px;
                        padding-bottom: 20px;
                        padding-top: 20px;
                        transition: background-color $transition;
                        &:hover {
                            background-color: darken($color: $color-gray-2, $amount: 10%);
                        }
                        svg {
                            fill: $color-white;
                            height: 14px;
                        }
                    }
                    input[type='text'] {
                        box-shadow: inset 0 0 0 1px $color-gray-light;
                        font-family: $font-primary;
                        &:focus,
                        &:hover {
                            background-color: transparent;
                            border-color: transparent;
                            box-shadow: $form-box-shadow-focus;
                            z-index: 1;
                        }
                    }
                }
            }
        }
    }
    .header-menu-mobile {
        border-top: 1px solid $color-gray;
        box-shadow: 0 1px 30px 0 $color-gray;
        min-height: 500px;
        overflow-y: auto;
        position: absolute;
        right: -150vw;
        transition: background-color $transition, right $transition;
        width: 100%;
        &.active {
            background-color: $color-white;
            height: calc(100vh - #{$header-height-mobile});
            right: 0;
        }
        .area-restrita {
            padding-bottom: 35px;
            span {
                color: $color-gray-2;
            }
        }
        .header-language,
        .header-search {
            border-top: 1px solid $color-gray-light;
            button {
                @include font-calc-rem(18px);
                font-weight: 600;
                height: 65px;
                padding-bottom: 20px;
                padding-top: 20px;
                text-transform: uppercase;
                width: 100%;
                svg {
                    fill: $color-gray-2;
                    height: 13px;
                }
            }
        }
        .header-language {
            [data-trigger-header-btn-language] {
                margin: auto;
                max-width: 300px;
                ul {
                    > li {
                        display: inline-block;
                        text-align: center;
                        width: 33.322222%;
                        &:first-child {
                            float: left;
                            text-align: left;
                            span {
                                @include font-calc-rem(14px);
                                color: $color-gray-2;
                                vertical-align: text-top;
                                &::after {
                                    background-color: $color-gray-2;
                                    bottom: -1px;
                                    content: ' ';
                                    display: block;
                                    height: 2px;
                                    left: 0;
                                    position: absolute;
                                    width: 20px;
                                }
                            }
                        }
                        &:last-child {
                            float: right;
                            text-align: right;
                            svg {
                                height: 8px;
                            }
                        }
                        svg {
                            margin-bottom: 4px;
                        }
                    }
                }
            }
            .header-language-list {
                height: 0;
                overflow: hidden;
                transition: height $transition;
                &.active {
                    height: 225px;
                }
                .custom-radio {
                    display: block;
                    padding-bottom: 20px;
                    padding-top: 20px;
                    input[type='radio'] {
                        &:checked {
                            + label {
                                &::after {
                                    width: 100%;
                                }
                            }
                        }
                        + label {
                            @include font-calc-rem(18px);
                            display: inline-block;
                            font-weight: 600;
                            pointer-events: none;
                            text-transform: uppercase;
                            width: auto;
                            &::after {
                                background-color: $color-gray-2;
                                bottom: 0;
                                content: ' ';
                                display: block;
                                height: 2px;
                                left: 50%;
                                position: absolute;
                                transform: translateX(-50%);
                                transition: width $transition;
                                width: 0;
                            }
                        }
                    }
                }
            }
        }
        .header-search {
            height: 65px;
            overflow: hidden;
            [data-trigger-header-btn-search] {
                left: 0;
                position: absolute;
                z-index: 1;
            }
            .form {
                position: absolute;
                right: -100vw;
                transition: right $transition;
                width: 100%;
                z-index: 2;
                &.active {
                    right: 0;
                }
                [class^='col'] {
                    margin-bottom: 0;
                    button {
                        background-color: $color-gray-2;
                        svg {
                            fill: $color-white;
                            height: 14px;
                        }
                    }
                    input {
                        background-color: $color-white;
                        box-shadow: none;
                    }
                }
            }
        }
        .menu {
            margin: 35px 0 15px 0;
            transition: color $transition;
            ul {
                li {
                    display: block;
                    a {
                        @include font-calc-rem(18px);
                        padding: 10px 0;
                    }
                }
            }
        }
    }
    .header-top {
        background-color: transparent;
        height: $header-height-mobile;
        transition: background-color $transition, height $transition;
        z-index: 2;
        @media only screen and (min-width: $sm) {
            height: $header-height;
        }
        .header-menu {
            margin-bottom: 15px;
            opacity: 0.8;
        }
        .header-right {
            max-width: 102px;
            opacity: 0.8;
            .header-btn-menu {
                @include resize(30px);
                float: right;
                line-height: 30px;
                &.active {
                    .header-svg-close {
                        animation-name: 'fadein';
                    }

                    .header-svg-menu {
                        animation-name: 'fadeout';
                    }
                }
                .header-svg-close,
                .header-svg-menu {
                    position: absolute;
                    right: 0;
                    top: 0;
                }
                .header-svg-close {
                    @include animation($name: 'fadeout');
                    svg {
                        height: 20px;
                    }
                }
                .header-svg-menu {
                    @include animation($name: 'fadein');
                    svg {
                        height: 14px;
                    }
                }
            }
            .row {
                height: 60px;
                .header-language {
                    span {
                        color: $color-white;
                        text-transform: uppercase;
                        vertical-align: middle;
                        &::after {
                            background-color: $color-gray-2;
                            bottom: -1px;
                            content: ' ';
                            display: block;
                            height: 2px;
                            position: absolute;
                            width: 100%;
                        }
                    }
                    svg {
                        height: 13px;
                        vertical-align: middle;
                        width: auto;
                    }
                }
                .header-search {
                    text-align: right;
                }
            }
        }
        .header-svg-logo {
            max-width: 200px;
            svg {
                height: 30px;
                width: auto;
                @media only screen and (min-width: $sm) {
                    height: 45px;
                }
            }
        }
    }
}
