svg {
    display: inline-block;
    fill: $color-white;
    height: 18px;
    margin: auto;
    overflow: hidden;
    position: relative;
    stroke: transparent;
    vertical-align: middle;
    width: auto;
}

.svg-arrow-xl-right {
    svg {
        display: block;
        height: 5px;
        margin: 0;
        opacity: 0.2;
        width: 230px;
    }
}
