// 1. Prevent iOS and IE text size adjust after device orientation change, without disabling user zoom.
html {
    body {
        color: $font-color;
        font-family: $font-primary;
        font-size: $font-size - 5px;
        letter-spacing: $letter-spacing;
        line-height: $line-height;
        text-size-adjust: 100%;
        @media only screen and (min-width: $sm) {
            font-size: $font-size - 3px;
        }
        @media only screen and (min-width: $md) {
            font-size: $font-size;
        }
    }
}

a {
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-decoration: none;
}

// Address styling not present in IE 8/9/10/11, Safari, and Chrome.
abbr[title] {
    border-bottom: 1px dotted;
}

// Address style set to 'bolder' in Firefox 4+, Safari, and Chrome.
b,
strong,
.strong {
    font-weight: 600;
}

// Address odd 'em'-unit font size rendering in all browsers.
// Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
code,
kbd,
pre,
samp {
    font-family: monospace;
}

del,
s {
    text-decoration: line-through;
}

// Address styling not present in Safari and Chrome.
dfn {
    font-style: italic;
}

em,
i {
    font-style: normal;
    font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    display: block;
    font-weight: 100;
    margin: 0;
    padding: 0;
    position: relative;
}

// Address differences between Firefox and other browsers.
hr {
    border-bottom: $border;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    box-sizing: content-box;
    height: 0;
    margin: $spacing-sm auto;
    width: 100%;
}

// Addresses styling not present in IE 8/9.
mark {
    background-color: $color-yellow;
    color: $color-black;
}

p {
    margin: 0 0 $spacing-sm 0;
    position: relative;
    user-select: text;
}

// Contain overflow in all browsers.
pre {
    overflow: auto;
}

// Address inconsistent and variable font size in all browsers.
small {
    font-size: 80%;
}

span {
    position: relative;
}

var {
    font-style: normal;
}

// TITLES
.title1,
.title2,
.title3,
.title4,
.title5,
.title-page,
.title-section {
    font-family: $font-secondary;
    height: auto;
    margin-bottom: 10px;
    text-align: left;
    text-transform: uppercase;
    width: auto;
    z-index: 3;
    &.center-line {
        &::after,
        &::before {
            left: 50%;
            margin: 2vw 0;
            position: relative;
            transform: translateX(-50%);
        }
    }
    &.line-bottom {
        &::after {
            content: ' ';
            display: block;
            height: 1px;
            margin-bottom: 35px;
            width: 45px;
            @media only screen and (min-width: $md) {
                height: 2px;
            }
        }
    }
    &.line-top {
        &::before {
            content: ' ';
            display: block;
            height: 1px;
            margin-bottom: 35px;
            width: 45px;
            @media only screen and (min-width: $md) {
                height: 2px;
            }
        }
    }
    &.title-dark {
        color: $color-black;
        &::after,
        &::before {
            background-color: $color-black;
        }
    }
    &.title-light {
        color: $color-white;
        &::after,
        &::before {
            background-color: $color-white;
        }
    }
}

.title1 {
    @include font-calc-rem(25px);
    letter-spacing: 5px;
    margin-bottom: 5px;
    @media only screen and (min-width: $md) {
        @include font-calc-rem(45px);
        letter-spacing: 15px;
    }
}

.title2 {
    @include font-calc-rem(18px);
    letter-spacing: 4px;
    @media only screen and (min-width: $md) {
        @include font-calc-rem(20px);
        letter-spacing: 10px;
    }
}

.title3 {
    @include font-calc-rem(16px);
    letter-spacing: 3px;
    @media only screen and (min-width: $md) {
        @include font-calc-rem(18px);
        letter-spacing: 10px;
    }
}

.title4 {
    @include font-calc-rem(14px);
    @media only screen and (min-width: $md) {
        @include font-calc-rem(16px);
    }
}

.title5 {
    @include font-calc-rem(10px);
    font-family: $font-primary;
    font-weight: 300;
    @media only screen and (min-width: $md) {
        @include font-calc-rem(12px);
    }
}

.title-page {
    @include font-calc-rem(22px);
    padding-bottom: $margin / 2;
    @media only screen and (min-width: $sm) {
        @include font-calc-rem(30px);
    }
}

.title-section {
    @include font-calc-rem(18px);
    letter-spacing: 4px;
    margin-bottom: calc(#{$section-margin-y} - 6vh);
    @media only screen and (min-width: $md) {
        @include font-calc-rem(20px);
        letter-spacing: 10px;
        margin-bottom: calc(#{$section-margin-y} - 3vh);
    }
}
