.footer {
    background-color: $color-primary;
    min-height: 450px;
    padding-bottom: $wrap-padding-y * 4;
    padding-top: $wrap-padding-y * 4;
    @media only screen and (min-width: $sm) {
        padding-bottom: $wrap-padding-y;
        padding-top: $wrap-padding-y * 2;
    }
}
