svg {
    display: inline-block;
    fill: $color-white;
    height: 18px;
    margin: auto;
    overflow: hidden;
    position: relative;
    stroke: transparent;
    vertical-align: middle;
    width: auto;
}
