@import 'variable';
@import '../common/mixin';
@import 'svg';
@import 'text';

html {
    body {
        @include scrollbar;
        background-color: $color-white;
        user-select: none;
        z-index: 0;
    }
}

footer,
header,
main {
    height: auto;
    width: 100%;
}

footer {
    z-index: 1;
}

header {
    z-index: 5;
}

main {
    z-index: 0;
}

// B-LAZY
[data-blazy] {
    opacity: 0;
    transition: opacity $transition;
}

.b-loaded {
    opacity: 1;
}

form {
    padding: 15px;
    label {
        display: inline-block;
        + input[type='radio'] {
            display: inline-block;
            margin-left: 15px;
            margin-right: 30px;
        }
    }
}

// IMG
.img-background {
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: scale(1.02) translate(0, 0);
    transform-origin: 50% 50%;
    width: 100%;
    z-index: 0;

    &.contain {
        background-size: contain;
    }

    &.fixed {
        background-attachment: fixed;
    }

    &.gray {
        background-color: $color-gray;
    }
}

// OVERLAY
.overlay,
.overlay-top-bottom {
    &::after {
        background-color: $color-black-transparent-3;
        content: ' ';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 2;
    }
}

.overlay-top-bottom {
    &::after {
        @include gradient-directional(180deg, $color-black-transparent-6, 0%, $color-black-transparent-3, 100%);
    }
}

// CONTENT
.content-padding-y {
    padding-bottom: $content-padding-y;
    padding-top: $content-padding-y;
    @media only screen and (min-width: $lg) {
        padding-bottom: $content-padding-y * 2;
        padding-top: $content-padding-y * 2;
    }
}

.content-padding-bottom {
    padding-bottom: $content-padding-y;
}

.content-padding-top {
    padding-top: $content-padding-y;
}

.content-xs,
.content-sm,
.content-md,
.content-lg,
.content-xl {
    margin: auto;
}

.content-xs {
    max-width: $xs;
}

.content-sm {
    max-width: $sm;
}

.content-md {
    max-width: $md;
}

.content-lg {
    max-width: $lg;
}

.content-xl {
    max-width: $xl;
}

// WRAP
.wrap {
    padding-left: $wrap-padding-x * 1.5;
    padding-right: $wrap-padding-x * 1.5;
    width: 100%;
    z-index: 1;
    @media only screen and (min-width: $md) {
        padding-left: $wrap-padding-x;
        padding-right: $wrap-padding-x;
    }
    &.wrap-left {
        padding-left: $wrap-padding-x * 1.5;
        padding-right: 0;
        @media only screen and (min-width: $md) {
            padding-left: $wrap-padding-x;
        }
    }
    &.wrap-right {
        padding-left: 0;
        padding-right: $wrap-padding-x * 1.5;
        @media only screen and (min-width: $md) {
            padding-right: $wrap-padding-x;
        }
    }
    &.wrap-content {
        padding-left: $wrap-padding-x * 1.5;
        padding-right: $wrap-padding-x * 1.5;
        @media only screen and (min-width: $md) {
            padding-left: $wrap-padding-x * 3;
            padding-right: $wrap-padding-x * 3;
        }
        &.wrap-left {
            padding-left: $wrap-padding-x * 1.5;
            padding-right: 0;
            @media only screen and (min-width: $md) {
                padding-left: $wrap-padding-x * 3;
            }
        }
        &.wrap-right {
            padding-left: 0;
            padding-right: $wrap-padding-x * 1.5;
            @media only screen and (min-width: $md) {
                padding-right: $wrap-padding-x * 3;
            }
        }
    }
    &.wrap-form {
        max-width: 800px;
    }
    &.wrap-full {
        padding-left: 0;
        padding-right: 0;
    }
    &.wrap-remove {
        margin-left: -$wrap-padding-x;
        margin-right: -$wrap-padding-x;
        padding: 0;
    }
}
