@import '../../../asset/scss/layout/variable';

.carona {
    background-color: transparent;

    ul.list-item {
        li {
            padding: 10px;
            width: 100%;
            ul.item,
            ul.item-header {
                width: 100%;
                li {
                    display: inline-block;
                    min-width: 100px;
                    max-width: 30%;
                    width: auto;
                    &:last-of-type {
                        float: right;
                        text-align: right;
                    }
                }
            }
            ul.item-header {
                text-transform: uppercase;
            }
        }
    }
}
